.contentContainer {
    opacity: 0;
    transform: translateY(28px);
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1),
        transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}
  
.contentContainer.show {
    opacity: 1;
    transform: translateY(0);
}

.spanOneHoverClass:after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 0;
    height: 0.5px;
    background-color: var(--color-accent);
    transition: all 0.25s ease-in-out;
}

.spanOneHoverClass:hover:after {
    width: 100%;
}
