.content {
    animation: slideUp 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(20%);
    animation-fill-mode: forwards;
  }
  
  @keyframes slideUp {
    from {
      transform: translateY(20%);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }


.viewArchive:after {
    content: "";
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 0;
    height: 0.5px;
    background-color: var(--color-accent);
    transition: all 0.25s ease-in-out;
}

.viewArchive:hover:after {
    width: 100%;
}
